
body {
    font-family: "Oxygen", sans-serif;
    font-size: 2vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFF5EE;
  }
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: lightskyblue;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .nav-area {
    position: fixed;
    top: 0.5vw;
    left: 3vw;
    font-size: 3vw;
  }
   
  nav {
    position: fixed;
    top: 0;
    left: -15vw;
    width: 14vw;
    height: 100vh;
    transition: 400ms ease-in-out;
    box-shadow: 0 1rem 1rem rgb(39, 38, 38);
  }
   
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
   
  nav a {
    display: flex;
    font-size: 2.4vw;
    color: black;
    text-decoration: none;
    transition: filter 600ms ease-out;
  }
   
  .nav-toggle {
    display: none;
  }
   
  .nav-toggle:checked + nav {
    left: 0;
  }
   
  nav {
    
   
    color: white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    height: 10vh;
   
    color: white;
    background-color: #96d56d;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fågell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1518001589401-1743b61d1def?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    width: 100vw;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0.5rem 0.5rem rgb(39, 38, 38);
  }
  .main-grid-delsida{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr;
    grid-template-rows: 1fr 2fr ;
  }
  
  .deltitel{
    margin-top: 5%;
     grid-column: 1/5;
     text-align: center;
     justify-content: center;
  }
  .Fågel-Text1-Del-Sida{
     font-size: 2.5vw;
     grid-column: 2;
  }
  .Fågel-Bild2-Del-Sida{
   
  
      width: 100%;
      height: 100%   ;
      display: flex;
      grid-column: 4;
      grid-row: 2fr;
      box-shadow: 0 1rem 1rem rgb(39, 38, 38);
  }


.Fågel-Bild3-Del-Sida{
    margin-top: 10%;
    width: 100%;
    height: 80%   ;
    display: flex;
    grid-column: 4;
    grid-row: 2fr;
    box-shadow: 0 1rem 1rem rgb(39, 38, 38);
}
  
.Fågel-Text2-Del-Sida{
  margin-top:10%;
  font-size: 2.5vw;
  grid-column: 2;
}
  
  
  
  
  
  
  
  
  
  
  
  
  footer{
      height: 10vh;
      background-color: #96d56d;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;
  }
  